# RouterOS 6.46.7
# software id = FK0L-NYH0
#
# model = RB750Gr3
# serial number = 8AFF09B15CEA
log info "delay 30 seconds"
delay 30
log info "loading config..."
/interface bridge
add name=ether2-master-local
/interface ethernet
set [ find default-name=ether1 ] name=ether1-gateway
/interface list
add comment=defconf name=WAN
add comment=defconf name=LAN
/interface wireless security-profiles
set [ find default=yes ] supplicant-identity=MikroTik
/ip hotspot profile
set [ find default=yes ] html-directory=flash/hotspot
/ip ipsec profile
add dh-group=modp1024 enc-algorithm=3des lifetime=8h name=pre-g2-3des-8h \
    proposal-check=exact
/ip ipsec peer
add address=195.235.118.37/32 comment=fortigate exchange-mode=aggressive \
    name=195.235.118.37 profile=pre-g2-3des-8h
add address=195.235.118.36/32 comment=coltmad exchange-mode=aggressive name=\
    195.235.118.36 profile=pre-g2-3des-8h
/ip ipsec proposal
add enc-algorithms=3des lifetime=1h name=pre_g2_3des_sha
/user group
set full policy="local,telnet,ssh,ftp,reboot,read,write,policy,test,winbox,pas\
    sword,web,sniff,sensitive,api,romon,dude,tikapp"
/interface bridge port
add bridge=ether2-master-local comment=defconf interface=ether2
add bridge=ether2-master-local comment=defconf interface=ether3
add bridge=ether2-master-local comment=defconf interface=ether4
add bridge=ether2-master-local comment=defconf interface=ether5
/ip neighbor discovery-settings
set discover-interface-list=LAN
/interface list member
add comment=defconf interface=ether2-master-local list=LAN
/ip address
add address={{ ip_lan_mikrotik | ipaddr('address') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} interface=ether2-master-local network=\
    {{ ip_lan_mikrotik | ipaddr('network') }}
add address={{ ip_wan_mikrotik | ipaddr('address') }}/{{ ip_wan_mikrotik | ipaddr('prefix') }} interface=ether1-gateway network={{ ip_wan_mikrotik | ipaddr('network') }}
/ip dhcp-client
add comment="default configuration" interface=ether1-gateway
/ip dns
set allow-remote-requests=yes servers=8.8.8.8,8.8.4.4
/ip dns static
add address=192.168.88.1 name=router
/ip firewall filter
add chain=input comment="default configuration" protocol=icmp
add chain=input comment="default configuration" connection-state=\
    established,related
add chain=input protocol=ipsec-esp
add chain=input dst-port=500,4500 protocol=udp
add chain=input dst-port=161,162 protocol=udp
add chain=input dst-port=8291,22 protocol=tcp src-address=\
    192.168.28.105-192.168.28.106
add chain=input dst-port=8291,22 protocol=tcp src-address=10.212.134.1
add chain=input dst-port=8291 protocol=tcp src-address=192.168.1.0/24
add chain=input disabled=yes dst-port=8291 protocol=tcp src-address=0.0.0.0/0
add chain=input dst-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} src-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }}
add chain=input dst-address=192.168.10.230 src-address=192.168.10.0/24
add chain=input dst-address={{ ip_lan_mikrotik | ipaddr('address') }} dst-port=80 protocol=tcp \
    src-address=10.212.134.0/24
add action=drop chain=input comment="default configuration"
add chain=forward comment="default configuration" connection-state=\
    established,related
add chain=forward dst-address=192.168.28.0/24 src-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }}
add chain=forward dst-address=10.212.134.0/24 src-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }}
add chain=forward dst-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} src-address=192.168.28.0/24
add chain=forward dst-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} log-prefix=ACCESO-SSL \
    src-address=10.212.134.0/24
{% for ipaddress in ip_tpv %}
add action=accept chain=forward dst-address={{ ipaddress | ipaddr('address') }} src-address=\
    {{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }}
{% endfor %}
{% for ipaddress in ip_cajero %}
add action=accept chain=forward dst-address={{ ipaddress | ipaddr('address') }} src-address=\
    {{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }}
{% endfor %}
{% for ipaddress in ip_tpv %}
add action=accept chain=forward dst-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} src-address=\
    {{ ipaddress | ipaddr('address') }}
{% endfor %}
{% for ipaddress in ip_cajero %}
add action=accept chain=forward dst-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} src-address=\
    {{ ipaddress | ipaddr('address') }}
{% endfor %}
add action=drop chain=forward log-prefix=drop_forward
/ip firewall mangle
add action=change-mss chain=forward dst-address=192.168.28.0/24 log-prefix=\
    Mangle-TCPMSS-1300 new-mss=1300 protocol=tcp src-address=\
    {{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} tcp-flags=syn tcp-mss=!0-1300
add action=change-mss chain=forward dst-address=10.212.134.0/24 log-prefix=\
    Mangle-TCPMSS-1300 new-mss=1300 protocol=tcp src-address=\
    {{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} tcp-flags=syn tcp-mss=!0-1300
add action=change-mss chain=forward dst-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} new-mss=\
    1300 protocol=tcp src-address=192.168.28.0/24 tcp-flags=syn tcp-mss=\
    !0-1300
add action=change-mss chain=forward dst-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} new-mss=\
    1300 protocol=tcp src-address=10.212.134.0/24 tcp-flags=syn tcp-mss=\
    !0-1300
/ip firewall nat
add chain=srcnat dst-address=192.168.28.0/24 src-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }}
add chain=srcnat dst-address=10.212.134.0/24 src-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }}
add chain=srcnat dst-address={{ ip_lan_mikrotik | ipaddr('network') }} src-address=10.212.134.0/24
add action=masquerade chain=srcnat dst-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} log-prefix=\
    Acceso-SSL src-address=10.212.134.0/24
add action=masquerade chain=srcnat dst-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} \
    src-address=192.168.1.0/24
add chain=srcnat dst-address=192.168.1.0/24 src-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }}
add action=masquerade chain=srcnat comment="default configuration" \
    out-interface=ether1-gateway
/ip ipsec identity
add my-id=user-fqdn:{{ id_ike_mikrotik }} peer=195.235.118.36 remote-id=\
    ignore secret={{ pskey }}
add comment=fortigate my-id=user-fqdn:testmikrotik@mikrotik.com peer=\
    195.235.118.37 remote-id=ignore secret=Psk3y345jfn
/ip ipsec policy
set 0 disabled=yes dst-address=0.0.0.0/0 src-address=0.0.0.0/0
add dst-address=192.168.28.0/24 level=unique peer=195.235.118.36 proposal=\
    pre_g2_3des_sha sa-dst-address=195.235.118.36 sa-src-address=\
    0.0.0.0 src-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} tunnel=yes
add comment=fortigate dst-address=10.212.134.0/24 level=unique peer=\
    195.235.118.37 proposal=pre_g2_3des_sha sa-dst-address=195.235.118.37 \
    sa-src-address=0.0.0.0 src-address={{ ip_lan_mikrotik | ipaddr('network') }}/{{ ip_lan_mikrotik | ipaddr('prefix') }} tunnel=yes
/ip route
add distance=1 gateway={{ ip_gateway | ipaddr('address') }}
add distance=1 dst-address=195.235.118.33/32 gateway={{ ip_gateway | ipaddr('address') }}
/snmp
set contact=20 enabled=yes
/system clock
set time-zone-name=Europe/Madrid
/system identity
set name={{ identity_name }}
/system logging
add disabled=yes topics=async,debug
/system scheduler
add disabled=yes name=PPP_set_name on-event=SetPPPName policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive start-time=\
    startup
add disabled=yes name=RESET_USB_PORT on-event=POWER_RESET_USB policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive start-time=\
    startup
add disabled=yes interval=4m name=PPP_client_monitor on-event=PPPINFO policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive start-time=\
    startup
add disabled=yes name=PPP_startup on-event=PPP_init policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive start-time=\
    startup
add disabled=yes interval=10s name=scheduler_check_gw on-event=CheckGateway \
    policy=ftp,reboot,read,write,policy,test,password,sniff,sensitive \
    start-time=startup
add interval=15s name=IPSEC_ping on-event=script_IPSEC_ping policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive start-time=\
    startup
add disabled=yes name=delete_all_default_static_routes on-event=\
    delete_default_routes policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive start-time=\
    startup
add interval=1m name=IPSEC_Peer_check on-event=PeerResolver policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive start-time=\
    startup
/system script
add dont-require-permissions=no name=CheckGateway owner=admin policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive source="# -----\
    -------------- header -------------------\r\
    \n# Script by Tomas Kirnak, version 1.0.7\r\
    \n# If you use this script, or edit and\r\
    \n# re-use it, please keep the header intact.\r\
    \n#\r\
    \n# For more information and details about\r\
    \n# this script please visit the wiki page at\r\
    \n# http://wiki.mikrotik.com/wiki/Failover_Scripting\r\
    \n# ------------------- header -------------------\r\
    \n\r\
    \n\r\
    \n\r\
    \n# ------------- start editing here -------------\r\
    \n# Edit the variables below to suit your needs\r\
    \n\r\
    \n# Please fill the WAN interface names\r\
    \n:global pppName\r\
    \n:global InterfaceISP1 ether1-gateway\r\
    \n:global InterfaceISP2 \$pppName\r\
    \n:global WAN\r\
    \n\r\
    \n# Please fill the gateway IPs (or interface names in case of PPP)\r\
    \n:global GatewayISP1\r\
    \n:global GatewayISP2\r\
    \n\r\
    \n# Please fill the ping check host - currently: resolver1.opendns.com\r\
    \n#:global PingTarget 22.22.22.22\r\
    \n:global PingTarget \"195.235.118.33\"\r\
    \n\r\
    \n# Please fill how many ping failures are allowed before fail-over happen\
    ds\r\
    \n:local FailTreshold 4\r\
    \n\r\
    \n# Define the distance increase of a route when it fails\r\
    \n:local DistanceIncrease 2\r\
    \n\r\
    \n# Editing the script after this point may break it\r\
    \n# -------------- stop editing here --------------\r\
    \n\r\
    \n\r\
    \n\r\
    \n# Declare the global variables\r\
    \n:global PingFailCountISP1\r\
    \n:global PingFailCountISP2\r\
    \n\r\
    \n# This inicializes the PingFailCount variables, in case this is the 1st \
    time the script has ran\r\
    \n:if ([:typeof \$PingFailCountISP1] = \"nothing\") do={:set PingFailCount\
    ISP1 0}\r\
    \n:if ([:typeof \$PingFailCountISP2] = \"nothing\") do={:set PingFailCount\
    ISP2 0}\r\
    \n\r\
    \n# This variable will be used to keep results of individual ping attempts\
    \r\
    \n:global PingResult\r\
    \n\r\
    \n\r\
    \n:foreach i in=[/ip route find gateway-status~\$InterfaceISP1 && dst-addr\
    ess=0.0.0.0/0] do={ \r\
    \n                   :local dist [/ip route get \$i distance]             \
    \_                                                \r\
    \n\t   :local destination [/ip route get \$i dst-address]\r\
    \n                   :local dyn [/ip route get \$i dynamic]\r\
    \n\t   :set GatewayISP1 [/ip route get \$i gateway]\r\
    \n                   :set \$GatewayISP1 [:tostr value=\$GatewayISP1]\r\
    \n\t   :local via [/ip route get \$i gateway-status]\r\
    \n                   :if (\$dyn=yes) do={\r\
    \n                         /ip route remove \$i\r\
    \n                         /ip route add dst-address=0.0.0.0/0 gateway=\$G\
    atewayISP1 distance=1\r\
    \n                         :log info \"Changed default route in \$Interfac\
    eISP1 to not dynamic\"\r\
    \n                   }\r\
    \n                   :local routecount [/ip route print count-only where g\
    ateway-status~\$InterfaceISP1 && gateway=\$GatewayISP1 && static=yes && ds\
    t-address~\$PingTarget]\r\
    \n                   :if (\$routecount = 0) do={\r\
    \n                        /ip route remove [/ip route find dst-address=\"\
    \$PingTarget/32\"]\r\
    \n\t        /ip route add dst-address=\$PingTarget gateway=\$GatewayISP1 d\
    istance=1\r\
    \n                   }\r\
    \n}\r\
    \n\r\
    \n:local routecount [/ip route print count-only where gateway-status~\$Int\
    erfaceISP1 && static=yes && dst-address=0.0.0.0/0]\r\
    \n:if (\$routecount > 1) do={\r\
    \n                /ip route remove [/ip route find gateway-status~\$Interf\
    aceISP1 && static=yes && dst-address=0.0.0.0/0]\r\
    \n\t/ip route add dst-address=0.0.0.0/0 gateway=\$GatewayISP1 distance=1\r\
    \n}\r\
    \n\r\
    \n\r\
    \n\r\
    \n# Check ISP1\r\
    \n:set PingResult [ping \$PingTarget count=1 interface=\$InterfaceISP1]\r\
    \n:log info \"Ping Result through \$InterfaceISP1=\$PingResult\"\r\
    \n:set WAN [/snmp get contact]\r\
    \n:if (\$WAN != ((\$PingResult*10)+10)) do={\r\
    \n    /snmp set contact=((\$PingResult*10)+10)\r\
    \n}\r\
    \n\r\
    \n:if (\$PingResult = 0) do={\r\
    \n\t:if (\$PingFailCountISP1 = (\$FailTreshold-1)) do={\r\
    \n\t\t:foreach i in=[/ip route find gateway~\$GatewayISP1 && distance=1] d\
    o={\r\
    \n                                          :set PingFailCountISP1 (\$Ping\
    FailCountISP1 + 1)\r\
    \n                                          :local destination [/ip route \
    get \$i dst-address]\r\
    \n\t\t          :log warning \"ISP1 has a problem en route to \$destinatio\
    n - increasing distance of routes.\"\r\
    \n                                          /ip route set \$i distance=3\r\
    \n                                          /ip ipsec installed-sa flush\r\
    \n                                          :log info \"Route distance inc\
    reased by 2\"\r\
    \n                                }\r\
    \n\t}\r\
    \n                :if (\$PingFailCountISP1 < \$FailTreshold) do={\r\
    \n                         :set PingFailCountISP1 (\$PingFailCountISP1 + 1\
    )\r\
    \n                }\r\
    \n}\r\
    \n\r\
    \n:if (\$PingResult = 1) do={\r\
    \n                :if (\$PingFailCountISP1 > 0) do={\r\
    \n\t\t:set PingFailCountISP1 (\$PingFailCountISP1 - 1)\t\t\r\
    \n\t\t:if (\$PingFailCountISP1 = 0) do={\r\
    \n\t\t\t:foreach i in=[/ip route find gateway~\$GatewayISP1 && distance=3]\
    \_do={\r\
    \n                                                     /ip route set \$i d\
    istance=1\r\
    \n                                                     /ip ipsec installed\
    -sa flush\r\
    \n                                                }\r\
    \n                                                :log warning \"ISP1 can \
    reach \$PingTarget again - bringing back original distance of routes.\"\r\
    \n\t\t}\r\
    \n\t}\r\
    \n}\r\
    \n\r\
    \n#Borrar rutas est\E1ticas con destino 0.0.0.0/0 que no est\E1n disponibl\
    es\r\
    \n/ip route remove [/ip route find gateway-status~\"unreachable\" && stati\
    c=yes && dynamic!=yes && dst-address=0.0.0.0/0]"
add dont-require-permissions=no name=PPPINFO owner=admin policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive source=":global\
    \_PingResult;\r\
    \n:global usbport;\r\
    \n:global PingTarget;\r\
    \n:global pppName;\r\
    \n:log info \"=========PPP Info \$pppName Script Starting...............\"\
    ;\r\
    \n\r\
    \n#interface ppp-client remove [/interface ppp-client find name=ppp-out1]\
    \r\
    \n\r\
    \n# Put ppp-client pppName using ACTIVE USB ports in ENABLED STATE#\r\
    \n\r\
    \nforeach int in=[/interface ppp-client find name!=\$pppName] do={\r\
    \n      :local pppdisabled [/interface ppp-client get \$int name];\r\
    \n      :log info \"DISABLE PPP-CLIENT \$pppdisabled\";\r\
    \n      /interface ppp-client set \$pppdisabled disabled=yes;\r\
    \n}\r\
    \n\r\
    \n:set usbport [/port get [find inactive=no] name];\r\
    \n\r\
    \nif ([/interface ppp-client get \$pppName disabled]=true) do={\r\
    \n     :log info \"PORT \$usbport active\";\r\
    \n     :log info \"ENABLE PPP-CLIENT \$pppName\";\r\
    \n      /interface ppp-client set \$pppName port=\$usbport;\r\
    \n      /interface ppp-client set \$pppName disabled=no;\r\
    \n     :log info \"PPP-CLIENT \$pppName ENABLED!\";\r\
    \n      /system leds remove [/system leds find leds=user-led];\r\
    \n      /system leds add interface=\$pppName leds=user-led type=interface-\
    status;\r\
    \n}\r\
    \n:if ([/interface get [find name=\$pppName ] running ]!=true) do={\r\
    \n      :log info \"=========PPP \$pppName is not running..............\";\
    \r\
    \n      /interface ppp-client set \$pppName port=\$usbport;\r\
    \n      /interface ppp-client set \$pppName disabled=no;\r\
    \n      /system leds remove [/system leds find leds=user-led];\r\
    \n      /system leds add interface=\$pppName leds=user-led type=interface-\
    status;\r\
    \n}\r\
    \n\r\
    \n\r\
    \n:global ModemSignalStrength;\r\
    \n:global ImsiCode;\r\
    \n\r\
    \n\r\
    \n:local pppID [/interface ppp-client find name=\$pppName];\r\
    \n\r\
    \n\r\
    \n# Variables to hold PPP Info #\r\
    \n:local String1;\r\
    \n:local String2;\r\
    \n:local pppInfoString;\r\
    \n\r\
    \n# Variable to hold PPP interface current IP address #\r\
    \n:local currentIP;\r\
    \n\r\
    \n# Get System Identity #\r\
    \n:local SystemID [/system identity get name];\r\
    \n\r\
    \n\r\
    \n# Create the information File #\r\
    \n/file print file=\"\$SystemID-\$pppName-PPP-info\";\r\
    \n\r\
    \n:local pppStatus;\r\
    \n:if ([/interface get [find name=\$pppName ] running ]=true) do={\r\
    \n   :set pppStatus \"Running\";\r\
    \n   :log info \"=========\$pppName is already running...........\";\r\
    \n#   :set PingResult [ping \$PingTarget count=5 size=28 interface=\$pppNa\
    me];\r\
    \n#   :log info \"=========Respuesta a \$PingResult de 5 Pings enviados a \
    \$PingTarget...........\";\r\
    \n#   :if (\$PingResult = 0) do={\r\
    \n#       interface ppp-client set \$pppName disabled=yes;\r\
    \n#       interface ppp-client set \$pppName disabled=no;\r\
    \n#   }\r\
    \n} else={\r\
    \n   :log info \"=========POWER RESET DE USB...............\";\r\
    \n   :local PIN;\r\
    \n   :local infoch;\r\
    \n   :local datach;\r\
    \n   /interface ppp-client set \$pppName disabled=yes;\r\
    \n   /system routerboard usb power-reset;\r\
    \n    :log info \"=========USB POWER-RESET...............\";\r\
    \n   :delay 30s;\r\
    \n   :log info \"=========Delay 30 segundos...............\";\r\
    \n   /interface ppp-client set \$pppName port=\$usbport;\r\
    \n   :set pppStatus \"Disabled\";\r\
    \n   :set PIN [/interface ppp-client get \$pppName pin];\r\
    \n   :set infoch [/interface ppp-client get \$pppName info-channel];\r\
    \n   :set datach [/interface ppp-client get \$pppName data-channel];\r\
    \n\r\
    \n}\r\
    \n\r\
    \n#:delay 5s;\r\
    \n#:log info \"=========Delay 5 segundos...............\";\r\
    \n\r\
    \nif ([/interface ppp-client get \$pppName disabled]=true) do={\r\
    \n   /interface ppp-client set \$pppName disabled=no;\r\
    \n}\r\
    \n\r\
    \n# Start of info command #\r\
    \n:local i 0;\r\
    \n/interface ppp-client info \$pppName user-command=AT+CIMI do={\r\
    \n\r\
    \n\r\
    \n:set i (\$i+1);\r\
    \n# for some reason this loop must run at least 3 times to set the system \
    variables #\r\
    \n# set to run 5 times to be sure #\r\
    \n:if (\$i=5) do={\r\
    \n\r\
    \n\r\
    \n:set String1 \"PPP Interface: \$pppName\\nPPP Interface Status: \$pppSta\
    tus\\nIP Address: \$currentIP\\n\";\r\
    \n\r\
    \n:set String2 \"Pin Status: \$\"pin-status\"\\nFunctionality: \$\"functio\
    nality\"\\nIMSI: \$\"manufacturer\"\\nModel: \$\"model\"\\nRevision: \$\"r\
    evision\"\\nSerial Number: \$\"serial-number\"\\nCurrent Operator: \$\"cur\
    rent-operator\"\\nAccess Technology: \$\"access-technology\"\\nSignal Stre\
    ngth: \$\"signal-strengh\"\";\r\
    \n\r\
    \n:set pppInfoString \"\$String1\$String2\";\r\
    \n:log info \$pppInfoString;\r\
    \n\r\
    \n# Populate file with required information #\r\
    \n#/file set \"\$SystemID-\$pppName-PPP-info\" contents=\$pppInfoString;\r\
    \n:set ImsiCode \$\"manufacturer\";\r\
    \n#:if (\$\"manufacturer\" != [/interface ppp-client get \$pppName user]) \
    do={\r\
    \n#    :log info \"=============================================IMSI: \$Im\
    siCode\";\r\
    \n#    :if ([:find \$\"manufacturer\" \"214\"] = 0) do={\r\
    \n#        /interface ppp-client set \$pppName user=\$\"manufacturer\" pas\
    sword=\$\"manufacturer\";\r\
    \n#    }\r\
    \n#}\r\
    \n\r\
    \n# Do all the other things you need to do here \?\?\?#\r\
    \n\r\
    \n:delay 7s;\r\
    \n\r\
    \n:set ModemSignalStrength \$\"signal-strengh\";\r\
    \n:set ModemSignalStrength [:pick \$ModemSignalStrength 0 [:find \$ModemSi\
    gnalStrength \" \"]]\r\
    \n\r\
    \n/snmp set location=\$ModemSignalStrength;\r\
    \n\r\
    \n:log info \"=========PPP Info \$pppName Script Completed.\";\r\
    \n/system script job remove [find script=PPPINFO];\r\
    \n\r\
    \n}\r\
    \n}"
add dont-require-permissions=no name=SetPPPName owner=admin policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive source=":delay \
    10s;\r\
    \n:global pppName \"internet3G\";\r\
    \n#:global APN \"movistar.es\";\r\
    \n:global APN \"ac.vodafone.es\";\r\
    \n:global usbport;\r\
    \n\r\
    \n:if (\$APN = \"ac.vodafone.es\") do={\r\
    \n   /interface ppp-client set \$pppName user=\"vodafone\" password=\"voda\
    fone\";\r\
    \n   /interface ppp-client set \$pppName pin=6666 apn=\"\$APN\";\r\
    \n}\r\
    \n:if (\$APN = \"movistar.es\") do={\r\
    \n   /interface ppp-client set \$pppName user=\"MOVISTAR\" password=\"MOVI\
    STAR\";\r\
    \n   /interface ppp-client set \$pppName apn=\"\$APN\";\r\
    \n   /interface ppp-client set \$pppName pin=\"\";\r\
    \n}\r\
    \n\r\
    \n/interface ppp-client set \$pppName disabled=no;\r\
    \n:log info \"------------------------------------------------------------\
    ---------------------INTERFACE PPP \$pppName ENABLED\";\r\
    \n\r\
    \nforeach int in=[/interface ppp-client find name!=\$pppName] do={\r\
    \n      :local pppdisabled [/interface ppp-client get \$int name];\r\
    \n      /interface ppp-client set \$pppdisabled disabled=yes;\r\
    \n      :log info \"DISABLED PPP-CLIENT \$pppdisabled\";\r\
    \n}\r\
    \n\r\
    \n/system leds remove [/system leds find leds=user-led];\r\
    \n/system leds add interface=\$pppName leds=user-led type=interface-status\
    ;"
add dont-require-permissions=no name=POWER_RESET_USB owner=admin policy=\
    ftp,reboot,read,write,policy,test,sniff,sensitive source=":log info \"----\
    -------------------------Check if USB POWER RESET NEEDED------------------\
    \";\r\
    \n:if (\$usbport=NULL) do={\r\
    \n:log info \"-----------------------------EXEC USB POWER RESET-----------\
    -------\";\r\
    \n/system routerboard usb power-reset;\r\
    \n}\r\
    \n:log info \"-----------------------------SCRIPT DONE \$usbport----------\
    -----------------------------\";"
add dont-require-permissions=no name=PPP_init owner=admin policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive source=":delay \
    20s;\r\
    \n:global pppName;\r\
    \n:global ModemSignalStrength;\r\
    \n:global ImsiCode;\r\
    \n:local String1;\r\
    \n:local String2;\r\
    \n:local pppInfoString;\r\
    \n:local i 0;\r\
    \n\r\
    \n/interface ppp-client set \$pppName disabled=yes;\r\
    \n:log info \"=========PPP INIT \$pppName Script Starting...............\"\
    ;\r\
    \n/interface ppp-client info \$pppName user-command=AT+CIMI do={\r\
    \n\r\
    \n:set i (\$i+1);\r\
    \n# for some reason this loop must run at least 3 times to set the system \
    variables #\r\
    \n# set to run 5 times to be sure #\r\
    \n:if (\$i=5) do={\r\
    \n\r\
    \n:set String2 \"Pin Status: \$\"pin-status\"\\nFunctionality: \$\"functio\
    nality\"\\nIMSI: \$\"manufacturer\"\\nModel: \$\"model\"\\nRevision: \$\"r\
    evision\"\\nSerial Number: \$\"serial-number\"\\nCurrent Operator: \$\"cur\
    rent-operator\"\\nAccess Technology: \$\"access-technology\"\\nSignal Stre\
    ngth: \$\"signal-strengh\"\";\r\
    \n\r\
    \n:set pppInfoString \"\$String1\$String2\";\r\
    \n:log info \$pppInfoString;\r\
    \n\r\
    \n# Populate file with required information #\r\
    \n#/file set \"\$SystemID-\$pppName-PPP-info\" contents=\$pppInfoString;\r\
    \n:set ImsiCode \$\"manufacturer\";\r\
    \n#:if (\$\"manufacturer\" != [/interface ppp-client get \$pppName user]) \
    do={\r\
    \n#    :log info \"=============================================IMSI: \$Im\
    siCode\";\r\
    \n#    :if ([:find \$\"manufacturer\" \"214\"] = 0) do={\r\
    \n#        /interface ppp-client set \$pppName user=\$\"manufacturer\" pas\
    sword=\$\"manufacturer\";\r\
    \n#    }\r\
    \n#}\r\
    \n\r\
    \n# Do all the other things you need to do here \?\?\?#\r\
    \n\r\
    \n:delay 7s;\r\
    \n\r\
    \n:set ModemSignalStrength \$\"signal-strengh\";\r\
    \n:set ModemSignalStrength [:pick \$ModemSignalStrength 0 [:find \$ModemSi\
    gnalStrength \" \"]]\r\
    \n\r\
    \n/snmp set location=\$ModemSignalStrength;\r\
    \n\r\
    \n:log info \"=========PPP Info \$pppName Script Completed.\";\r\
    \n/interface ppp-client set \$pppName disabled=no;\r\
    \n\r\
    \n/system script job remove [find script=PPP_init];\r\
    \n\r\
    \n}\r\
    \n}\r\
    \n:log info \"=========PPP INIT \$pppName Script Ends...............\";"
add dont-require-permissions=no name=script_IPSEC_ping owner=admin policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive source=":global\
    \_activeSAs\r\
    \n/ip ipsec installed-sa print\r\
    \n/set activeSAs [ip ipsec installed-sa print count-only where spi!=0]\r\
    \n\r\
    \n/ping 192.168.28.126 src-address={{ ip_lan_mikrotik | ipaddr('address') }} count=3\r\
    \n/ping 10.212.134.1 src-address={{ ip_lan_mikrotik | ipaddr('address') }} count=3\r\
    \n\r\
    \n#:if (\$activeSAs != \"0\") do={\r\
    \n#     :if ([/ping 192.168.45.1 src-address={{ ip_lan_mikrotik | ipaddr('address') }} count=3]=0) d\
    o={\r\
    \n#           :log info \"No PING response from VPN peer\"\r\
    \n#           /ip ipsec installed-sa flush\r\
    \n#           :log info \"VPN SAs flushed\"\r\
    \n#     }\r\
    \n#}"
add dont-require-permissions=no name=delete_default_routes owner=admin \
    policy=ftp,reboot,read,write,policy,test,password,sniff,sensitive source="\
    delay 5;\r\
    \n:foreach i in=[/ip route find gateway-status~\"unreachable\" && static=y\
    es] do={ \r\
    \n\t   /ip route remove \$i\t   \r\
    \n}"
add dont-require-permissions=no name=PeerResolver owner=admin policy=\
    ftp,reboot,read,write,policy,test,password,sniff,sensitive source="\
    \n\
    \n:global resolvedIP [:resolve \"portal-lms.dnsalias.net\"];\
    \n\r\
    \n:global peerID [/ip ipsec peer find comment=\"fortigate\"];\r\
    \n\
    \n:global policyID [/ip ipsec policy find comment=\"fortigate\"];\r\
    \n:global currentIP [/ip ipsec peer get \$peerID address];\r\
    \n\
    \n:put (\$resolvedIP.\"/32\")\r\
    \n\
    \n:put \$currentIP\r\
    \n/log info \"-*-ip ipsec peer checked\";\r\
    \n\
    \n:if (\$resolvedIP.\"/32\" != \$currentIP) do={\
    \n\r\
    \n  /ip ipsec peer set \$peerID address=\$resolvedIP;\
    \n\r\
    \n  /ip ipsec policy set \$policyID sa-dst-address=\$resolvedIP;\r\
    \n  /log info \"--*--ip ipsec peer updated\";\r\
    \n\
    \n}\
    \n\
    \n"
/tool mac-server
set allowed-interface-list=LAN
/tool mac-server mac-winbox
set allowed-interface-list=LAN
